hero {
    display: flex;
    justify-content: center;
}
.hero-img {
    width: 100%;
}

.categories-second {
    display: flex;
    flex-flow: row;
    gap: 20px;
}

.category-second {
    flex: 1 1 calc(33.3333% - 20px);
    position: relative;
}

.category-second img {
    width: 100%;
    height: auto;
    display: block;
}

.category-second .title {
    position: absolute;
    font-size: 3cqh;
    text-wrap: nowrap;
    container: category-second / inline-size;
    padding: 0;
    top: 50%;
    left: 5%;
    transform: translateY(-40%);
    color: var(--color-accent-primary);
}
.category-second:hover .title {
    color: var(--color-accent-secondary);
    text-decoration: underline;
    transition: 0.3s;
}
