.supply {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.boot {
    outline: var(--color-accent-terciary) solid 2px;
    flex: 1;
}

.boot img {
    width: 100%;
}
