.supply {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.boot {
    outline: var(--color-accent-terciary) solid 2px;
    flex: 1;
}

.boot img {
    width: 100%;
}
.order {
    width: 40px;
    height: auto;
    visibility: hidden;
}

.boot .prices {
    display: flex;
    flex-flow: row;
    gap: 40px;
}
.description {
    padding-left: 20px;
    padding-right: 20px;
}
.description > div{

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.boot-description {
    font-size: var(--font-size-base);
    color: var(--color-accent-primary);
}

.prices span {
    font-size: 30px;
}

.new-price {
    color: var(--color-accent-secondary);
    font-weight: bold;
}
.old-price {
    color: var(--color-accent-terciary);
    text-decoration: line-through;
}


.boot:hover {
    outline-color: var(--color-accent-secondary);
    transition: 0.3s;
}
.boot:hover .order {
    visibility: visible;
}