.supply {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.boot {
    outline: var(--color-accent-terciary) solid 2px;
    flex: 1;
}

.boot img {
    width: 100%;
}
.order {
    width: 40px;
    height: auto;
}

.boot .prices {
    display: flex;
    flex-flow: row;
    gap: 40px;
}
.boot > div {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.boot-description {
    padding-left: 20px;
    font-size: 2.5cqh;
}

.prices span {
    font-size: 3cqh;
}

.new-price {
    color: var(--color-accent-secondary);
    font-weight: bold;
}
.old-price {
    color: var(--color-accent-terciary);
    text-decoration: line-through;
}
