.supply-boots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.boot {
    outline: var(--color-accent-terciary) solid 2px;
    min-width: 350px;
    flex: 1;
}

.boot img {
    width: 100%;
}
.order {
    width: 40px;
    height: auto;
    visibility: hidden;
}

.boot .prices {
    display: flex;
    flex-flow: row;
    gap: 20px;
}
.description {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-flow: column;
    gap: 30px;
    margin-bottom: 20px;
}
.description > div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.boot-description {
    font-size: 30px;
    color: var(--color-accent-primary);
}

.prices span {
    font-size: 35px;
}

.new-price {
    color: var(--color-accent-secondary);
    font-weight: bold;
}
.old-price {
    color: var(--color-accent-terciary);
    text-decoration: line-through;
}

.boot:hover {
    outline-color: var(--color-accent-secondary);
    transition: 0.3s;
}
.boot:hover .order {
    visibility: visible;
}
