hero {
    position: relative;
}

hero img {
    width: 100%;
    height: auto;
    /*min-width: 1800px;*/
}

hero #hero-text {
    position: absolute;
    display: flex;
    flex-flow: column;
    text-wrap: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(10%, -50%);
}

hero h1 {
    container: category-second / inline-size;
    font-size: 8cqh;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;

    color: var(--color-accent-primary);
}

hero h2 {
    margin: 0;
    container: category-second / inline-size;
    font-size: 5cqh;
    font-weight: 400;
    color: var(--color-accent-secondary);
}

hero a {
    container: category-second / inline-size;
    font-size: 2cqh;
    text-align: center;
    padding: 15px;
    width: 10cqw;
    background-color: var(--color-accent-secondary);
    margin-top: 30px;
}

hero #hero-circles {
    position: absolute;
    left: 50%;
    bottom: 5%;
    display: flex;
    flex-flow: row;
    transform: translateX(-50%);
    gap: 20px;
}
hero .circle {
    container: category-second / inline-size;
    width: 2cqh;
    height: 2cqh;
    border-radius: 2cqh;
    background-color: var(--color-base);
}

hero #filled {
    background-color: var(--color-accent-primary);
}

@media screen and (width < 1200px) {
    hero {
        display: none;
    }
}
