#supply {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 100px;
}

#show-whole-supply-button {
    background-color: var(--color-accent-secondary);
    color: var(--color-base);
    font-size: var(--font-size-base);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 70px;
}

@media screen and (width < 1200px) {
    #supply {
        gap: 50px;
        margin-bottom: 100px;
    }

    #show-whole-supply-button {
        width: 600px;
        height: 150px;
    }
}
