.supply-boots {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
}

h1 .normal,
h1 .weighted {
    font-size: 50px;
}
h1 .normal {
    color: var(--color-accent-secondary);
    font-weight: 400;
}
h1 .weighted {
    color: var(--color-accent-primary);
}

@media screen and (width < 1200px) {
    .supply-boots {
        display: flex;
        flex-flow: column;
        gap: 50px;
        justify-content: space-between;
        align-items: center;
    }

    h1 .normal,
    h1 .weighted {
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: 20cqw;
        text-align: center;
    }
    h1 .normal {
        color: var(--color-accent-secondary);
    }
    h1 .weighted {
        color: var(--color-accent-primary);
    }
}
