.supply-boots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

h1 .normal,
h1 .weighted {
    font-size: 50px;
}
h1 .normal {
    color: var(--color-accent-secondary);
    font-weight: 400;
}
h1 .weighted {
    color: var(--color-accent-primary);
}

@media screen and (width < 1200px) {
    .supply-boots {
        display: flex;
        flex-flow: column;
        gap: 50px;
        justify-content: space-between;
        padding: 0 100px;
    }

    h1 .normal,
    h1 .weighted {
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: 100px;
    }
    h1 .normal {
        color: var(--color-accent-secondary);
    }
    h1 .weighted {
        color: var(--color-accent-primary);
    }
}
