body footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
}

#promotions {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
}

.promotion {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.promotion span {
    font-size: 30px;
    width: autos;
    color: var(--color-accent-primary);
}

.promotion div {
    width: 100px;
    height: 100px;
    background-color: var(--color-accent-primary);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotion div img {
    width: 70px;
    height: auto;
}

@media screen and (width < 1200px) {
    body footer {
        gap: 30px;
    }

    #promotions {
        flex-flow: column;
        width: 100%;
        padding-left: 30px;
        gap: 50px;
    }

    .promotion {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 30px;
        margin: 0;
    }

    .promotion span {
        font-size: 60px;
        width: autos;
        color: var(--color-accent-primary);
    }

    .promotion div {
        width: 200px;
        height: 200px;
        background-color: var(--color-accent-primary);
        border-radius: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .promotion div img {
        width: 130px;
        height: auto;
    }
}
