:root {
    --color-base: white;
    --color-accent-primary: #304068;
    --color-accent-secondary: #c7232f;
    --color-accent-terciary: #b4bed5;

    --font-family-primary: "Roboto", sans-serif;
    --font-size-base: 25px;
    --font-size-bigger: 28px;
}

body,
body * {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
}

body {
    background-color: var(--color-base);
    display: grid;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-base);
}

body main,
body footer {
    padding: 0 150px;
}

body main {
    display: flex;
    flex-flow: column;
    align-content: center;
}

#separator {
}

@media screen {
}
