body footer {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#promotions {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
}

.promotion {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 30px;
}

.promotion span {
    font-size: 30px;
    width: autos;
    color: var(--color-accent-primary);
}

.promotion div {
    width: 100px;
    height: 100px;
    background-color: var(--color-accent-primary);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotion div img {
    width: 70px;
    height: auto;
}
