.logo {
    height: 70px;
}
body header {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin-bottom: 20px;
}

#raw-header {
    display: flex;
    font-size: var(--font-size-base);
    background: var(--color-accent-primary);
    color: var(--color-base);
    height: 60px;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: space-between;
}

.quick-contact {
    display: flex;
    flex-flow: row;
    align-items: center;
}

header * {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quick-contact img {
    height: 30px;
}

.menu {
    margin: 20px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    padding: 0 150px;
    margin-bottom: 20px;
}
.image-and-search {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.search-panel {
    color: var(--color-accent-terciary);
    display: flex;
    flex-flow: row;
    gap: 10px;
}
#search-img {
    visibility: none;
}
.search {
    color: var(--color-accent-terciary);
    font-size: var(--font-size-base);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    border: 1px solid var(--color-accent-terciary);
    background: url("../src/img/loupe.svg") no-repeat 5px center / 20px;
    padding-left: 30px;
}
.search::placeholder {
    color: var(--color-accent-terciary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
}

.category {
    background-color: transparent;
    color: var(--color-accent-terciary);
    flex: 1;
    height: 80px;
    min-width: 200px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    outline: solid var(--color-accent-terciary) 2px;
    position: relative;
    font-size: var(--font-size-base);
    z-index: 1;
}
.category img {
    height: 25px;
}
.category:hover {
    outline-color: var(--color-accent-secondary);
    color: var(--color-accent-secondary);
    font-weight: bold;
    z-index: 999;
    transition: 0.3s;
}
.category:hover img {
    animation: jump 0.5s running;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.categories {
    flex-basis: 100%;
    display: flex;
    flex-flow: row;
    gap: 2px;
}

@media screen and (width < 1200px) {
    .quick-contact img {
        display: none;
    }
    .dialing-code {
        display: none;
    }
    #raw-header img {
        height: 70px;
        width: auto;
    }
    .search-panel img {
        height: 90px;
    }

    .logo {
        height: 20%;
    }

    #raw-header {
        container: category-second / inline-size;
        font-size: 4cqh;
        height: 150px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #raw-header a span {
        display: none;
    }

    header * {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .menu {
        margin: 20px 0;
        gap: 30px;
        padding: 0 30px;
        margin-bottom: 20px;
    }
    .search-panel {
        gap: 50px;
        margin: 50px 0;
    }
    .search {
        display: none;
    }

    .category {
        background-color: transparent;
        color: var(--color-accent-terciary);
        flex: 1;
        height: 180px;
        gap: 20px;
        z-index: 1;
    }
    .category img {
        height: 70px;
    }
    .category:hover {
        outline-color: var(--color-accent-secondary);
        color: var(--color-accent-secondary);
        font-weight: bold;
        z-index: 999;
        transition: 0.3s;
    }
    .category:hover img {
        animation: jump 0.5s running;
    }
    @keyframes jump {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }
    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            ".category .category"
            ".category .category";
        gap: 2px;
    }
    #contact-category {
        display: none;
    }
}
